%h2#compra Formulário Reserva de Libro
= semantic_form_for [@cuenta, @reserva], :url => cuenta_reservas_path(@cuenta), :html => { :multipart => true} do |f|
  -if @reserva.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reserva.errors.count, "error")} prohibited this libro from being saved:"
      %ul
        - @reserva.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs :name => "Reservar Libro" do
    %li.string.input.stringish
      %label.label Título:
      %p#compra= @reserva.libro.titulo
    -#= f.input :libro_id
    -#= f.input :cuenta_id
    = f.input :cantidad
    = f.input :fecha_reserva, :as=> :string
    = f.input :libro_id, :as => :hidden
    = f.input :cuenta_id, :as => :hidden
  = f.buttons



