%p#notice= notice

%p
  %b Nombre:
  = @contacto.nombre
%p
  %b Email:
  = @contacto.email
%p
  %b Comentario:
  = @contacto.comentario

= link_to 'Back', libros_path, :notice => "Su Consulta ha sido enviada satisfactoriamente"
