.titulolibros
  %h1 Libros Agotados

%table.span-18.clear
  %tr
    %th Título
    %th Autor
    %th Categoria
  -@agotados.each do |agotado|
    %tr
      %td= link_to agotado.titulo,agotado
      %td= agotado.autor
      %td= agotado.categoria_nombre
      %td= link_to image_tag("destroy.jpg"),agotado, :confirm => "Desea eliminar el libro #{agotado.titulo} del carrito?", :method => :delete
= will_paginate
