= semantic_form_for @proximo_libros do |f|
  -if @proximo_libros.errors.any?
    #error_explanation
      %h2= "#{pluralize(@proximo_libros.errors.count, "error")} prohibited this proximo_libros from being saved:"
      %ul
        - @proximo_libros.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs :name => "A침adir libro" do
    = f.input :titulo
    = f.input :autor
    = f.input :editorial
    = f.input :categoria
    = f.input :anyo, :label => "A침o"
    = f.input :paginas, :label => "P치ginas"
    = f.input :precio
    = f.input :descripcion, :as => :text, :label => "Descripci칩n"
    = f.input :photo, :as=> :file


  = f.buttons

  -#.field
    -#= f.label :titulo
    -#= f.text_field :titulo
  -#.field
    -#= f.label :autor
    -#= f.text_field :autor
  -#.field
    -#= f.label :editorial
    -#= f.text_field :editorial
  -#.field
    -#= f.label :categoria
    -#= f.text_field :categoria
  -#.field
    -#= f.label :anyo
    -#= f.text_field :anyo
  -#.field
    -#= f.label :paginas
    -#= f.number_field :paginas
  -#.field
    -#= f.label :precio
    -#= f.text_field :precio
  -#.field
    -#= f.label :descripcion
    -#= f.text_field :descripcion
  -#.actions
    -#= f.submit 'Save'
