= form_tag proximos_libros_path, {:method => :get, :id => "search"} do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", :name => "nil"
.titulolibros
  %h1 Proximos Libros

%table.span-18.clear
  %tr
    %th Título
    %th Fecha Disponible
    %th Reservar
    -#%th Autor
    -#%th Editorial
    -#%th Categoria
    -#%th Año
    -#%th Paginas
    -#%th Precio
    -#%th Descripcion
    -#%th
    -#%th
    -#%th

  - @proximos_libros.each do |proximo_libros|
    %tr
      %td= link_to proximo_libros.titulo,proximo_libros
      %td= proximo_libros.fecha_disponible
      - if current_cuenta
        %td= link_to image_tag(proximo_libros.photo.url(:thumb)), new_cuenta_reserva_path(current_cuenta, :libro_id => proximo_libros.id)
      - if !current_cuenta
        %td= link_to image_tag(proximo_libros.photo.url(:thumb)),proximo_libros
      -#%td= libro.autor
      -#%td= libro.editorial
      -#%td= libro.categoria
      -#%td= libro.anyo
      -#%td= libro.paginas
      -#%td= libro.precio
      -#%td= libro.descripcion
      -#%td= link_to 'Show', libro
      -#%td= link_to 'Edit', edit_libro_path(libro)
      -#%td= link_to 'Destroy', libro, :confirm => 'Are you sure?', :method => :delete
= will_paginate
