%p#notice= notice

%p
  %b Título:
  =@proximo_libros.titulo
%p
  %b Autor:
  = @proximo_libros.autor
%p
  %b Editorial:
  = @proximo_libros.editorial
%p
  %b Categoria:
  = @proximo_libros.categoria
%p
  %b Año:
  = @proximo_libros.anyo
%p
  %b Paginas:
  = @proximo_libros.paginas
%p
  %b Precio:
  = @proximo_libros.precio
%p
  %b Descripcion:
  = @proximo_libros.descripcion
%p
  %b Photo
  =@proximo_libros.photo
-#%p
  -#%b Disponible?
  -#=@proximo_libros.proximolibro

= link_to 'Edit', edit_proximo_libros_path(@proximo_libros)
\|
= link_to 'Back', proximos_libros_path
