= semantic_form_for @libro, :html => { :multipart => true} do |f|
  -if @libro.errors.any?
    #error_explanation
      %h2= "#{pluralize(@libro.errors.count, "error")} prohibited this libro from being saved:"
      %ul
        - @libro.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs :name => "A침adir libro" do
    = f.input :titulo
    = f.input :autor
    = f.input :editorial
    = f.input :categoria_nombre, :label => "Categoria", data: {autocomplete_source: categorias_path}
    = f.input :anyo, :label => "A침o"
    = f.input :paginas, :label => "P치ginas"
    = f.input :precio
    = f.input :descripcion, :as => :text, :label => "Descripci칩n"
    = f.input :stock
    = f.input :photo, :as=> :file
    = f.input :fecha_disponible, :label => "Disponible desde", :as => :string, :input_html => {:class => "fecha"}
    = f.input :proximolibro, :as=> :select, :collection => [["No",0],["Si",1]], :label => "Ya a la Venta?"
  = f.buttons do
    = f.commit_button "Crear Libro"

  -#.field
    -#= f.label :titulo
    -#= f.text_field :titulo
  -#.field
    -#= f.label :autor
    -#= f.text_field :autor
  -#.field
    -#= f.label :editorial
    -#= f.text_field :editorial
  -#.field
    -#= f.label :categoria
    -#= f.text_field :categoria
  -#.field
    -#= f.label :anyo
    -#= f.text_field :anyo
  -#.field
    -#= f.label :paginas
    -#= f.number_field :paginas
  -#.field
    -#= f.label :precio
    -#= f.text_field :precio
  -#.field
    -#= f.label :descripcion
    -#= f.text_field :descripcion
  -#.actions
    -#= f.submit 'Save'
