= form_for @libro do |f|
  -if @libro.errors.any?
    #error_explanation
      %h2= "#{pluralize(@libro.errors.count, "error")} prohibited this libro from being saved:"
      %ul
        - @libro.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :autor
    = f.text_field :autor
  .field
    = f.label :editorial
    = f.text_field :editorial
  .field
    = f.label :categoria
    = f.text_field :categoria
  .field
    = f.label :año
    = f.text_field :año
  .field
    = f.label :paginas
    = f.number_field :paginas
  .field
    = f.label :precio
    = f.text_field :precio
  .field
    = f.label :descripcion
    = f.text_field :descripcion
  .actions
    = f.submit 'Save'
