%p#notice= notice

%p
  %b Título:
  =@libro.titulo
%p
  %b Autor:
  = @libro.autor
%p
  %b Editorial:
  = @libro.editorial
%p
  %b Categoria:
  = @libro.categoria
%p
  %b Año Publicación:
  = @libro.anyo
%p
  %b Páginas:
  = @libro.paginas
%p
  %b Precio:
  = @libro.precio
%p
  %b Stock:
  = @libro.stock
%p
  %b Sinopsis:
  = @libro.descripcion
-#%p
  -#%b Photo
  -#= @libro.photo
%p
  %b Disponible?
  = @libro.proximolibro


= link_to 'Edit', edit_libro_path(@libro)
\|
= link_to 'Back', libros_path
