%p#notice= notice

%p
  %b Email:
  = @cuenta.email
%p
  %b Nombre:
  = @cuenta.nombre
%p
  %b Apellido:
  = @cuenta.apellido
%p
  %b Nif:
  = @cuenta.nif
%p
  %b Direccion:
  = @cuenta.direccion
%p
  %b Ciudad:
  = @cuenta.ciudad
%p
  %b Codigo:
  = @cuenta.codigo
%p
  %b Provincia:
  = @cuenta.provincia
%p
  %b Telefono:
  = @cuenta.telefono
%p
  %b Administrador:
  = @cuenta.administrador


= render :partial => 'reservas'
= render :partial => 'compras'


-#= link_to 'Edit', edit_cuenta_path(@cuenta)
-#\|
= link_to 'Back', root_path
