!!!
%html
%head
  %meta{charset: "UTF-8"}
  %title Libreria Fadrell
  = render 'layouts/stylesheets'
  = javascript_include_tag "application"
  = csrf_meta_tag

%body

  %header#cabezera
    - if !current_cuenta
      = link_to image_tag("paypal1.jpeg", :id => "imgpaypal"), "http://www.paypal.com"
    - if current_cuenta
      = link_to image_tag("carrito1.gif", :id => "imgcarrito"), cuenta_compras_path(current_cuenta)
      = link_to image_tag("paypal1.jpeg", :id => "imgpaypal"), "http://www.paypal.com"
    %h1#cabezerafadrell Librería Fadrell
    %p.centrado
      - if current_cuenta
        = "Logged in as #{current_cuenta.email}"
        = link_to "Salir", log_out_path
      - else
        = link_to "Registrarse", sign_up_path
        ||
        = link_to "Logearse", log_in_path
    = render 'layouts/menu'
    = render 'layouts/menudesplegable'
  .clear


  .container
    = render 'layouts/menuvertical'
    = yield
